[submodule "externals/Catch"]
	path = externals/Catch
	url = https://github.com/philsquared/Catch
[submodule "externals/Eigen"]
	path = externals/Eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "externals/REFPROP-headers"]
	path = externals/REFPROP-headers
	url = https://github.com/CoolProp/REFPROP-headers.git
[submodule "externals/FindMathematica"]
	path = externals/FindMathematica
	url = https://github.com/sakra/FindMathematica
[submodule "externals/msgpack-c"]
	path = externals/msgpack-c
	url = https://github.com/msgpack/msgpack-c
[submodule "externals/IF97"]
	path = externals/IF97
	url = https://github.com/CoolProp/IF97
