*~
*.pyc
*.swp
*.o
*.obj
*.h.gch
*.directory
*.DS_Store
.version

/dev/VS2010

/dev/Tickets/oFiles

/dev/figs
/dev/builder

/wrappers/Python/build
/wrappers/Python/cmake_build
/wrappers/Python/CoolProp.egg-info
/wrappers/Python/dist
/wrappers/Python/CoolProp/*.o
/wrappers/Python/CoolProp/*.so
/wrappers/Python/CoolProp/AbstractState.html
/wrappers/Python/CoolProp/CoolProp.cpp
/wrappers/Python/CoolProp/CoolProp.html
/wrappers/Python/CoolProp/_constants.*
/wrappers/Python/CoolProp/constants*
/wrappers/Python/CoolProp/HumidAirProp.html
/wrappers/Excel/CoolProp_x64.dll
/wrappers/Excel/CoolProp.dll

/MSVC

/Web/_build

/wrappers/Labview/CoolProp.dll
/Web/_static/doxygen
/Web/Fluids
/doc-v5
/dev/all_fluids_verbose.json
/dev/all_fluids.json
/include/all_fluids_JSON.h
/include/all_pcsaft_JSON.h
/include/gitrevision.h
/include/mixture_excess_term_JSON.h
/include/mixture_reducing_parameters_JSON.h
/include/cubic_fluids_schema_JSON.h
/include/mixture_binary_pairs_pcsaft_JSON.h
/include/pcsaft_fluids_schema_JSON.h
/include/version.h
/include/catch.hpp
/build*/
/dev/hashes.json
/include/cpversion.h
/dev/all_incompressibles.json
/dev/all_incompressibles_verbose.json
/include/all_incompressibles_JSON.h
/meta.yaml
/runner.py
/build.sh
/bld.bat
/conda/

/.idea/
/.vs/
/.vscode/

bld/

compile_commands.json
cppcheck.txt
