[submodule "externals/Catch"]
	path = externals/Catch2
	url = https://github.com/catchorg/Catch2
	branch = master
[submodule "externals/Eigen"]
	path = externals/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
	branch = master
[submodule "externals/ExcelAddinInstaller"]
	path = externals/ExcelAddinInstaller
	url = https://github.com/CoolProp/ExcelAddinInstaller.git
	branch = master
[submodule "externals/FindMathematica"]
	path = externals/FindMathematica
	url = https://github.com/sakra/FindMathematica
	branch = master
[submodule "externals/IF97"]
	path = externals/IF97
	url = https://github.com/CoolProp/IF97
	branch = master
[submodule "externals/REFPROP-headers"]
	path = externals/REFPROP-headers
	url = https://github.com/CoolProp/REFPROP-headers.git
	branch = master
[submodule "externals/fmtlib"]
	path = externals/fmtlib
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "externals/msgpack-c"]
	path = externals/msgpack-c
	url = https://github.com/msgpack/msgpack-c
	branch = master
[submodule "externals/pybind11"]
	path = externals/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "externals/rapidjson"]
	path = externals/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
