*~
*.pyc
*.swp
*.o
*.obj
*.h.gch
*.lib
*.directory
*.DS_Store

/dev/Tickets/oFiles

/dev/figs

/wrappers/Python/build
/wrappers/Python/CoolProp/*.o
/wrappers/Excel/CoolProp_x64.dll
/wrappers/Excel/CoolProp.dll

/MSVC

/Web/_build
/Web/Fluids/1-Butene.rst
/Web/Fluids/Acetone.rst
/Web/Fluids/Air.rst
/Web/Fluids/Ammonia.rst
/Web/Fluids/Argon.rst
/Web/Fluids/Benzene.rst
/Web/Fluids/CarbonDioxide.rst
/Web/Fluids/CarbonMonoxide.rst
/Web/Fluids/CarbonylSulfide.rst
/Web/Fluids/CycloPropane.rst
/Web/Fluids/Cyclopentane.rst
/Web/Fluids/D4.rst
/Web/Fluids/D5.rst
/Web/Fluids/D6.rst
/Web/Fluids/Deuterium.rst
/Web/Fluids/DimethylCarbonate.rst
/Web/Fluids/DimethylEther.rst
/Web/Fluids/Ethane.rst
/Web/Fluids/Ethanol.rst
/Web/Fluids/EthylBenzene.rst
/Web/Fluids/Ethylene.rst
/Web/Fluids/FluidInformation.rst
/Web/Fluids/Fluorine.rst
/Web/Fluids/HFE143m.rst
/Web/Fluids/Helium.rst
/Web/Fluids/Hydrogen.rst
/Web/Fluids/HydrogenSulfide.rst
/Web/Fluids/IsoButane.rst
/Web/Fluids/IsoButene.rst
/Web/Fluids/Isohexane.rst
/Web/Fluids/Isopentane.rst
/Web/Fluids/Krypton.rst
/Web/Fluids/MD2M.rst
/Web/Fluids/MD3M.rst
/Web/Fluids/MD4M.rst
/Web/Fluids/MDM.rst
/Web/Fluids/MM.rst
/Web/Fluids/Methane.rst
/Web/Fluids/Methanol.rst
/Web/Fluids/MethylLinoleate.rst
/Web/Fluids/MethylLinolenate.rst
/Web/Fluids/MethylOleate.rst
/Web/Fluids/MethylPalmitate.rst
/Web/Fluids/MethylStearate.rst
/Web/Fluids/Neon.rst
/Web/Fluids/Neopentane.rst
/Web/Fluids/Nitrogen.rst
/Web/Fluids/NitrousOxide.rst
/Web/Fluids/OrthoDeuterium.rst
/Web/Fluids/OrthoHydrogen.rst
/Web/Fluids/Oxygen.rst
/Web/Fluids/ParaDeuterium.rst
/Web/Fluids/ParaHydrogen.rst
/Web/Fluids/Propylene.rst
/Web/Fluids/Propyne.rst
/Web/Fluids/PureFluids.rst
/Web/Fluids/R11.rst
/Web/Fluids/R113.rst
/Web/Fluids/R114.rst
/Web/Fluids/R116.rst
/Web/Fluids/R12.rst
/Web/Fluids/R123.rst
/Web/Fluids/R1234yf.rst
/Web/Fluids/R1234ze(E).rst
/Web/Fluids/R1234ze(Z).rst
/Web/Fluids/R124.rst
/Web/Fluids/R125.rst
/Web/Fluids/R13.rst
/Web/Fluids/R134a.rst
/Web/Fluids/R14.rst
/Web/Fluids/R141b.rst
/Web/Fluids/R142b.rst
/Web/Fluids/R143a.rst
/Web/Fluids/R152A.rst
/Web/Fluids/R161.rst
/Web/Fluids/R21.rst
/Web/Fluids/R218.rst
/Web/Fluids/R22.rst
/Web/Fluids/R227EA.rst
/Web/Fluids/R23.rst
/Web/Fluids/R236EA.rst
/Web/Fluids/R236FA.rst
/Web/Fluids/R245fa.rst
/Web/Fluids/R32.rst
/Web/Fluids/R365MFC.rst
/Web/Fluids/R404A.rst
/Web/Fluids/R407C.rst
/Web/Fluids/R41.rst
/Web/Fluids/R410A.rst
/Web/Fluids/R507A.rst
/Web/Fluids/RC318.rst
/Web/Fluids/SES36.rst
/Web/Fluids/SulfurDioxide.rst
/Web/Fluids/SulfurHexafluoride.rst
/Web/Fluids/Toluene.rst
/Web/Fluids/Water.rst
/Web/Fluids/Xenon.rst
/Web/Fluids/cis-2-Butene.rst
/Web/Fluids/m-Xylene.rst
/Web/Fluids/n-Butane.rst
/Web/Fluids/n-Decane.rst
/Web/Fluids/n-Dodecane.rst
/Web/Fluids/n-Heptane.rst
/Web/Fluids/n-Hexane.rst
/Web/Fluids/n-Nonane.rst
/Web/Fluids/n-Octane.rst
/Web/Fluids/n-Pentane.rst
/Web/Fluids/n-Propane.rst
/Web/Fluids/n-Undecane.rst
/Web/Fluids/o-Xylene.rst
/Web/Fluids/p-Xylene.rst
/Web/Fluids/trans-2-Butene.rst

/wrappers/Labview/CoolProp.dll
/Web/_static/doxygen
/Web/Fluids
/doc-v5
