{% extends "!layout.html" %}

{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">Home</a>|</li>
        <li><a href="{{ pathto('search') }}"><img src="{{ pathto('_static/glass.png',1) }}"></a>|</li>
        <li><a href="http://ibell.pythonanywhere.com">CoolProp Online</a>|</li>
        <li><a href="{{ pathto('coolprop/examples') }}">Examples</a>|</li>
        <li><a href="{{ pathto('citation') }}">Citation</a>|</li>
        <li><a href="{{ pathto('develop/code') }}">Code</a>|</li>
        <li><a href="{{ pathto('coolprop/wrappers/index') }}">Interfaces</a></li>
{% endblock %}